body{
    background-image: url(../assets/background_texture.jpg);
    z-index:-1;
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

#labels-styled{
    padding: 5px;
    margin: 10px;
    border: 1px solid;
    background: #80aaff;
    border-radius: 10px;

}